html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="./style.css")
  body
    .stage
      .box
        - for (let x=0; x < 10; x++)
          .circle
            .left
              .inner
            .right
              .inner