* {
  margin: 0;
  padding: 0;
}

/**
 * stage
 */
.stage {
  position: absolute;
  width: 100%; height: 100%;
  background-color: #D3C7C0;
}
.stage:before,
.stage:after { position: absolute; content: ""; display: block; }

.stage:before {
  top: 20px; left: 20px;
  width: calc(100% - 40px); height: calc(100% - 40px);
  border: dashed 5px #635256;
  border-radius: 30px;
  box-sizing: border-box;
  opacity: 0.3;
}
.stage:after {
  width: 400px; height: 400px;
  top: calc(50% - 200px); left: calc(50% - 200px);
  border-radius: 50%;
  background-color: #635256;
}


  /**
   * effect
   */
  .effect {
    position: absolute;
    width: 400px; height: 400px;
    border-radius: 50%;
    overflow: hidden;
  }
  .effect div {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .effect div:after {
    content: ""; display: block;
    position: absolute;
    opacity: 0;
  }
  .effect div:nth-child(1) { transform: rotate(0deg);   }
  .effect div:nth-child(2) { transform: rotate(45deg);  }
  .effect div:nth-child(3) { transform: rotate(90deg);  }
  .effect div:nth-child(4) { transform: rotate(135deg); }
  .effect div:nth-child(5) { transform: rotate(180deg); }
  .effect div:nth-child(6) { transform: rotate(225deg); }
  .effect div:nth-child(7) { transform: rotate(270deg); }
  .effect div:nth-child(8) { transform: rotate(315deg); }


  /*** effect_type_1 ***/
  .effect_type_1 {
    top: calc(50% - 200px); left: calc(50% - 200px);
  }
  .effect_type_1 div:after {
    top: 5px; left: calc(50% - 20px);
    border-top: solid 70px #635256;
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
    transform: translateY(130px);
  }

/*** effect_type_2 ***/
.effect_type_2 {
  top: 50%; left: calc(50% - 400px);
}
.effect_type_2 div:after {
  top: 0px; left: calc(50% - 40px);
  width: 40px; height: 40px;
  background-color: #8db3b1;
  border-radius: 50%;
  transform: translateY(170px);
}

/*** effect_type_3 ***/
.effect_type_3 {
  top: calc(50% - 400px); left: 50%;
}
.effect_type_3 div:after {
  top: 0px; left: calc(50% - 20px);
  width: 40px; height: 40px;
  background-color: #9994A6;
  transform: translateY(150px);
}


/***************************************************************************************************
 *  animation
 ***************************************************************************************************/

/*** stage ***/
.stage:after { animation: hidden-ball 0.6s ease 0s forwards; }

/*** effect_type_1 ***/
.effect_type_1 div:after {
  animation:
    fadein 0.3s ease 0.5s forwards,
    show-type-1 0.6s ease 0.5s forwards;
}

/*** effect_type_2 ***/
.effect_type_2 { animation: rotate360 4s ease 0.6s forwards; }
.effect_type_2 div:after {
  animation:
    fadein 0.3s ease 1.1s forwards,
    show-type-2 0.6s ease 1.1s forwards;
}

/*** effect_type_3 ***/
.effect_type_3 div:after {
  animation:
    fadein 0.3s ease 1.7s forwards,
    show-type-3 0.6s ease 1.7s forwards;
}


/***************************************************************************************************
 *  keyframes
 ***************************************************************************************************/
@keyframes hidden-ball {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.4); }
  100% { transform: scale(0); }
}
@keyframes show-type-1 {
  from { transform: translateY(130px); }
  to   { transform: translateY(-75px); }
}
@keyframes show-type-2 {
  from { transform: translateY(170px); }
  to   { transform: translateY(-40px); }
}
@keyframes show-type-3 {
  from { transform: translateY(150px) rotate(0deg); }
  to   { transform: translateY(-40px) rotate(270deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}