doctype html
html
  head
    title
    link(rel="stylesheet" href="./style.css")
  body
    .stage
      .ball
        .text ぱ
        .overray
      .ball
        .text か
        .overray
      .ball
        .text っ
        .overray
      .ball
        .text ！
        .overray
