html, body {
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  min-width: 650px; min-height: 450px;
  background-color: #eee;
}

#screen {
  position: absolute;
  left: calc(50% - 330px); top: calc(50% - 235px);
  width: 650px; height: 450px;
  background-color: #fff;
  border: solid 10px #fff;
  box-shadow: 0 0 20px #444;
  overflow: hidden;
}

.paint,
.images {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

/*** paint ***/
.paint { background-color: #444; }

/*** images ***/
.images .image {
  position: absolute;
  top: 0; left: 0;
  width: 0%; height: 100%;
  overflow: hidden;
}
.images .image:after {
  content: "";
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 650px; height: 450px;
  background-size: cover;
  background-position: center;
}
.images .image:nth-child(1):after { background-image: url(./images/1.png); }
.images .image:nth-child(2):after { background-image: url(./images/2.png); }
.images .image:nth-child(3):after { background-image: url(./images/3.png); }
.images .image:nth-child(4):after { background-image: url(./images/4.png); }


/*** 画面表示のアニメーション ***/
.paint { animation: fadeout_paint 1s ease 0.5s forwards; }

/*** スライドショーのアニメーション ***/
.images .image:nth-child(1) { animation: show_image 0.6s ease 1.5s forwards; }
.images .image:nth-child(2) { animation: show_image 0.6s ease 1.7s forwards; }
.images .image:nth-child(3) { animation: show_image 0.6s ease 1.9s forwards; }
.images .image:nth-child(4) { animation: show_image 0.6s ease 2.1s forwards; }

@keyframes fadeout_paint {
  0% { /* 初期状態 */
    transform: translate(0, 0) scale(1);
    width: 100%; height: 100%;
    border-radius: 0;
  }
  30% { /* 小さなボール状に変化 */
    transform: translate(305px, 205px) scale(1);
    width: 40px; height: 40px;
    border-radius: 50%;
  }
  50% {
    transform: translate(305px, 205px) scale(1.3);
    width: 40px; height: 40px;
    border-radius: 50%;
  }
  70% { /* バウンドしたように弾ませる */
    transform: translate(305px, 205px) scale(1);
    width: 40px; height: 40px;
    border-radius: 50%;
  }
  100% { /* 画面左に逃げていく */
    transform: translate(-40px, 205px) scale(1);
    width: 40px; height: 40px;
    border-radius: 50%;
  }
}

@keyframes show_image {
  0%   { width: 0%; }
  100% { width: 100%; }
}
