html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet" href="./style.css")
  body
    .stage
      .modal-wrapper
        .icon-wrapper
          .circle
            .stroke
            .stroke
          .icon
        .message yui540さんからフレンド申請が来ています
        .button-wrapper
          .cancel-box
            .button.cancel-button
              .cross
                .line
                .line
          .success-box
            .button.success-button
                .check
                  .line
                  .line