doctype html
html
  head
    title circle
    link(rel="stylesheet" href="./style.css")
  body
    .stage
      .circle-wrapper.type-9
        .left
        .right
      .circle-wrapper.type-8
        .left
        .right
      .circle-wrapper.type-7
        .left
        .right
      .circle-wrapper.type-6
        .left
        .right
      .circle-wrapper.type-5
        .left
        .right
      .circle-wrapper.type-4
        .left
        .right
      .circle-wrapper.type-3
        .left
        .right
      .circle-wrapper.type-2
        .left
        .right
      .circle-wrapper.type-1
        .left
        .right
