doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title test
    link(rel="stylesheet" href="./style.css")
  body
    .stage
      .wrapper.ball-wrapper
        - for (let i=0; i < 90; i++)
          .ball
        
